body {
    width: 100%;
    margin: 30px;
    background-color: darkblue;
}

#Profile-Cointainer{
    max-width: 300px;
    background-color: white;
    border: 1px red;
    border-radius: 6px;
}

#Profile-Image{
    width: 90%;
    height: 50%;
}

#Profile-Name{
    text-align: center
}